<!DOCTYPE html>
<html ng-app="myapp">
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script src="script-tags-for-development.js"></script>
<script src="taxi-data.js"></script>
<script src="scripts/script.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/yeti/bootstrap.min.css">
<link rel="stylesheet" href="lib/styles.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">Food Truck Thing Doer</div>
                <!--link to homepage-->
            </div>
            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                  <li class="active">
                    <a href="#" >Login</a>
                  </li>
                  <li class="active">
                    <p>Welcome</p>
                  </li>
                    <!--link to bottom of page with about us info-->
                    <li><img class="img-rounded" style="height:50px; width:50px" id="profile_pic" src='https://pbs.twimg.com/profile_images/378800000822867536/3f5a00acf72df93528b6bb7cd0a4fd0c.jpeg' alt="profile pic"/></li>

                    <!--link to bottom of page with about us info-->
                </ul>
            </div>
        </div>
    </nav>
<main class="row">
        <div class="col-md-4 col-sm-4 col-xs-4" style="height: 1000px;">
            <div class="panel panel-success" style="border-radius:10px">
                <div class="panel-heading anotherColor" style="border-radius:10px">Step 1) Where are you?
                </div>
                <div class="panel-body">
                    <form class="" action="index.html" method="post">
                        Enter Address, City, State, or Zip:
                        <input autofocus required id="location-address" type="text" style="border-radius:10px" class="form-control" placeholder="Street, City, State, and/or Postal Code"/>
                        <button class="btn-warning newColor" id="map-address-btn" style="border-radius:10px">Enter Location</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-8" style="height: 1000px;">
        <div class="panel panel-success" style="border-radius:10px">
            <div class="panel-heading anotherColor" style="border-radius:10px">Where is the best place?
            </div>

            <div class="heatlayer" ng-controller="LayerHeatmapCtrl as vm" >
                <div id="panel">
                    <button ng-click="vm.toggleHeatmap()">Toggle Heatmap</button>
                    <button ng-click="vm.changeGradient()">Change gradient</button>
                    <button ng-click="vm.changeRadius()">Change radius</button>
                    <button ng-click="vm.changeOpacity()">Change opacity</button>
                </div>
                <ng-map style="height:600px" zoom="13" center="47.6062, -122.3321" map-type-id="SATELLITE">
                    <heatmap-layer data="taxiData"></heatmap-layer>
                </ng-map>
            </div>
        </div>
    </div>
</div>
<!--end right div-->
</main>
<script type="text/javascript" src='scripts/script.js'></script>
</body></html>
